# SPDX-License-Identifier: LGPL-2.1-or-later
# TODO: drop once https://gitlab.freedesktop.org/accountsservice/accountsservice/-/issues/89 is fixed

[Unit]
Description=Install flatpaks after first normal boot
After=systemd-homed.service accounts-daemon.service
ConditionPathExists=!/etc/snow/flatpaks-installed


[Service]
Type=oneshot
ExecStart=/usr/local/bin/_install-flatpaks.sh

[Install]
WantedBy=multi-user.target
