# SPDX-License-Identifier: LGPL-2.1-or-later

[Unit]
ConditionFirstBoot=yes
ConditionPathIsReadWrite=/etc

DefaultDependencies=no

After=first-boot-complete.target
Conflicts=shutdown.target
Before=shutdown.target

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=systemctl enable --now gdm.service

[Install]
WantedBy=basic.target
